*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    margin: 200px auto;
    width: 260px;
    height: 260px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 30px;
}

.cube_face > i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.scene > i {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
    transition: bottom .3s;
}

.scene:hover > i {
    transform: translate(-50%, 0) rotateY(360deg);
    bottom: -10px;
    transition: .3s .2s;
}

.cube{
    transform: translateY(0) translateZ(-100px) rotateX(-20deg) rotateY(20deg);
}

.scene{
    width: 50px;
    height: 50px;
    perspective: 500px;
    margin-left: 8px;
}

.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease-in;
}

.cube_shadow{
    display: block;
    position: absolute;
    width: 50px;
    height: 40px;
    filter: blur(10px);
    bottom: -10px;
    left: 0;
    background: black;
    transition: .3s ease-in;
}

.scene:hover .cube_shadow{
    width: 60px;
    height: 10px;
    filter: blur(15px);
    left: 10px;bottom: 0;
}

.cube_face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9c0c0c;
    opacity: 1;
    border: 1px solid black;
}

.cube_face--front {
    transform: rotateY(0) translateZ(25px);
}

.cube_face--right {
    transform: rotateY(90deg) translateZ(25px);
}

.cube_face--back {
    transform: rotateY(180deg) translateZ(25px);
}

.cube_face--left {
    transform: rotateY(-90deg) translateZ(25px);
}

.cube_face--top {
    transform: rotateX(90deg) translateZ(25px);
}

.scene:hover .cube {
    transform: translateY(-40px) translateZ(-100px) rotateX(30deg) rotateY(30deg);
}